.carousel {
  width: 100%;
  /* border: 1px solid red; */
  overflow: scroll;
  padding-left: 30px;
  position: relative;
}
.carousel__container {
  white-space: nowrap;
  margin: 70px 0;
  padding-bottom: 10px;
}
.carousel-item {
  width: 200px;
  height: 250px;
  border-radius: 15px;
  background-color: #456909;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  position: relative;
}
.carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item {
  opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}
.carousel-item__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.carousel-item__details {
  background: linear-gradient(to top, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, 0), 100%);
  font-size: 10px;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.carousel-item__details:hover {
  opacity: 1;
}
.categories__title {
  color: white;
  font-size: 16px;
  position: absolute;
  padding-left: 30px;
  width: 100%;
}