<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="headerhome.css">
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="footer.css">
  <link rel="stylesheet" href="error.css">
  <title>404</title>
</head>
<body>
  <header class="header">
    <img  class="header__img" src="../assets/_lego.png" alt="logo">
  </header>

  <div class="error">
    <div class="error__container">
      <h1 class="error__container--title">404</h1>
      <h3 class="error__container--description">Página no Encontrada</h3>
    </div>
  </div>

  <footer class="footer">
    <a href="/">Terminos de uso</a>
    <a href="/">Declaración de privacidad</a>
    <a href="/">Centro de ayuda</a>
  </footer>
</body>
</html>