<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registro</title>
  <link rel="stylesheet" href="../components/header.css">
  <link rel="stylesheet" href="../components/login.css">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
    <img  class="header__img" src="../assets/_lego.png" alt="logo">
    <div class="header__menu">
      <div class="header__menu--profile">
        <img src="../assets/profile-2.png" alt="profile">
        <p>Perfil</p>
      </div>
      <ul>
        <li><a href="/">Cuenta</a></li>
        <li><a href="/">Cerrar Sesión</a></li>
      </ul>
    </div>
  </header>
  <section class="login">
    <div class="login__container">
      <h2>Registrarse</h2>
      <form action="" class="login__container--form">
        <input class="input" type="text" name="" placeholder="Nombres">
        <input class="input" type="email" name="" placeholder="Correo">
        <input class="input" type="password" name="" placeholder="Contraseña">
        <button class="button">Registrarse</button>
      </form>
      <p class="login__container--register center"><a href="/">Iniciar sesión</a></p>
    </div>
  </section>
  <footer class="footer">
    <a href="/">Terminos de uso</a>
    <a href="/">Declaración de privacidad</a>
    <a href="/">Centro de ayuda</a>
  </footer>
</body>
</html>